* {
  background-color: rgb(111, 230, 251);
}
.header {
  display: grid;
  justify-content: center;
  font-size: 55px;
  font-family: monospace;
}

.buttonShowAll {
  display: flex;
  margin: auto;
  justify-content: center;
  border: none;
  background-color: aliceblue;
  width: 200px;
  height: 30px;
}
.buttonShowAll:hover {
  width: 300px;
  background-color: darkmagenta;
  font-size: 20px;
  color: wheat;
}

.sortedButton {
  display: flex;
  margin: auto;
  justify-content: center;
  border: none;
  background-color: aliceblue;
  width: 200px;
  height: 30px;
}

.inputTask {
  border: none;
  width: 100px;
}
.inputTask::placeholder {
  color: rgb(100, 173, 238);
  text-decoration: underline;
  text-decoration-color: rgb(66, 164, 250);
}
